 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset utf-8
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

image {
	width:100%;
}
/*Here is the clearfix */
.clearfix:after {
	 content: "";
	 display: table;
	 clear: both;
}
/*here is the main container*/
.main {
	background-image: url(../img/fabric.webp);
}
/*here are my fonts and some colour styling*/
h1{
	font-family: 'minotaurphatte', sans-serif;
	font-size:50px;
	color: #72a9ae;
	padding-left:60px;	
}
body {
	font-family: 'Oswald', sans-serif;
}
h2, h4, th {
	color: #72a9ae;
}
/*here is an animation on my logo*/
.logo {
	animation-name: myanimation;
	animation-duration: 4s;
}
@keyframes myanimation {
	0% {color: #72a9ae;}
	25% {color: #ADD8E6;}
	50% {color: #00008b;}
	75% {color: #4f8657;}
	100% {color: #72a9ae;}
}
/*here is the styling for the header*/
.site-header {
	background-color:#72a9ae;
	box-sizing:border-box;
	padding:1px;
	width:100%;
	height:50px;
}	
.nav li a {
	float:left;
	width:10%;
	box-sizing:border-box;
	padding-left:20px;
}
/*article in main*/
.main-content {
	float:left;
	width:60%;
	box-sizing:border-box;
	padding:0px 50px 0px 60px;
}
/*aside in main*/
.image {
	float:left;
	width:30%;
	box-sizing:border-box;
	padding-top: 50px;
}
.iheading {
	padding-left:60px;
}
/*here is the styling for the table*/
.table {
	width: 90%;
	box-sizing: border-box;
	margin:auto;
}
table, th, td {
	border: 1px solid black;
}
th, td {
	text-align:center;
	padding:8px;
}
tr:nth-child(odd) {
	background-color: #efefef;
}
th {
	background-color:#ffffff;
}
/*here is the styling for the profile form*/
.form-profile {
	box-sizing: border-box;
	float:left;
	padding:15px 35px 0px 35px;
	margin-top: 50px;
	margin-left:25px;
	margin-right: 250px;
	position: relative;
}
.profile input[type="text"], select{
	width:70%;
	box-sizing: border-box;
	display:inline-block;
	float:right;
	margin-top: 10px;
}
.profile select{
	padding:3px;
}
.profile label {
	display: inline-block;
	width:30%;
	box-sizing: border-box;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.profile [ type=submit]{
	float:right;
	margin-top: 10px;
	box-sizing:border-box;}
/*Some styling on the headers*/
.side {
	float:left;
	display: inline;	
}
 #inhead {
 	float:left;
 	display: inline;
 	position: absolute;
}
/*the styling of the profile info card */
.card {
	float:left;
	background-color: #ffffff;
	box-shadow: 4px 10px 10px 4px rgba(0,0,0,0.2); 
	width:290px;
	height:330px;
	margin-bottom:50px;
	text-align: center;
	padding-top: 25px;
	transition-property: background, transform;
	transition-duration: 1s, 5s;
}
/*here is a transition*/
.card:hover{
	background: grey;
	transform: rotateY(360deg);
}
 .card i {
 	color:#72a9ae;
}
/*the styling of the footer*/
.footer{
	background-color:#454545;
	box-sizing:border-box;
	padding:1px;
	width:100%;
	height:260px;
}
.col {
	float:left;
	width:33%;
	box-sizing:border-box;
	text-align: center;
	padding-top: 5px;
}
.footer nav li a {
	padding-bottom: 10px;
	text-align: left;
}

.footer nav a:first-child{
	color:#3b5998;
}
.footer nav a:nth-child(2n){
	color:#FF0000;
}
.footer nav a:nth-child(3n){
	color:#1DA1F2;
}
.footer p {
	color:#3b5998;
	text-align: left;
	padding-left: 175px;
}
/*here is my media query*/
@media only screen and  (max-width: 960px) {
	.container {
		display: block;
	}

	.site-header, .main, .sidebar, .image, .table, .profile, .col .footer{
		width: 100%;
	}
}


